<div class="contactIcons">
    <a href="https://twitter.com/k_macquarrie" class="twitter"><span class="linkText">follow @k_macquarrie on Twitter</span></a>
    <a href="mailto:{{page.email}}" class="email"><span class="linkText">email me: {{page.email}}</span></a>
    <a href="http://www.linkedin.com/in/kmacquarrie" class="linkedin"><span class="linkText">connect with me on LinkedIn</span></a>
    <a href="https://github.com/velvetkevorkian" class="github"><span class="linkText">check my Github profile</span></a>
    
</div>