<footer class="row">
    {% if page.title != 'Home' and page.title != '404' %}
    <p class="date">{{page.date}}</p>
    <div class="sibling-nav">
            {% if page.is_first == false %}
                {% include 'partials/previous-page.html' %} 
            {% endif %}
            
            {% if page.is_last == false %}
                {% include 'partials/next-page.html' %}
            {% endif %}
        </div>
    {% endif %}
    {% include 'partials/contactIcons.html' %}
<p>[v {{page.site_version}} ] Running on <a href="http://staceyapp.com/" target= "_blank">Stacey {{page.stacey_version}}</a>.</p>
    
<p><a href="#header">Back to top</a>.</p>
</footer>
</html>