<script>
    document.addEventListener('DOMContentLoaded', function () {
        setupLink(document.getElementById('web'));
        setupLink(document.getElementById('processing'));
        setupLink(document.getElementById('openframeworks'));

        var allLink = document.getElementById('all');
        allLink.addEventListener('click', function () {
            event.preventDefault();
            deactivateAll();
            unhideAll();
            allLink.classList.add('active');
        });

        var toggle = document.getElementById('filterToggle');
        toggle.addEventListener('click', function () {
            event.preventDefault();
            if (toggle.classList.contains('clicked')) {
                toggle.classList.remove('clicked');
            } else {
                toggle.classList.add('clicked');
            }
            var span = document.getElementById('filterList');
            if (span.classList.contains('closed')) {
                span.classList.remove('closed');
                span.classList.add('open');
            } else {
                span.classList.remove('open');
                span.classList.add('closed');
            }
        });
    });



    function setupLink(link) {
        link.addEventListener('click', function () {
            deactivateAll();
            unhideAll();
            event.preventDefault();
            link.classList.add('active');
            var els = document.querySelectorAll('.project-summary:not(.' + link.getAttribute('href').split('#')[1] + ')');
            Array.prototype.forEach.call(els, function (el, i) {
                el.classList.add('hidden');
            });

        });
    }

    function deactivateAll() {
        var els = document.querySelectorAll('.active');
        Array.prototype.forEach.call(els, function (el, i) {
            el.classList.remove('active');
        });
    }

    function unhideAll() {
        var els = document.querySelectorAll('.projects .hidden');
        Array.prototype.forEach.call(els, function (el, i) {
            el.classList.remove('hidden');
        });
    }
</script>