//settings
$include-html-classes: false;
$include-print-styles: false;
$block-grid-default-spacing: 0;
$small-screen: 800px;
$flex-video-padding-bottom: 56.25%;
$flex-video-padding-top: 0;
$flex-video-margin-bottom: 0;
//colour
$main-bg-color: rgb(239, 239, 239);
$main-color: rgb(79, 79, 79);
$link-color: rgb(217, 148, 22);//lighten($main-color, 20%);
$border-color: lighten($link-color, 20%);
$hover-link-color: rgb(90, 7, 140); //lighten($main-color, 20%);//rgb(106, 73, 244);


//typography
$sans: 'linux_biolinumregular', Helvetica, Arial, sans-serif; 
$serif: 'linux_libertineregular', Georgia, serif; 


@font-face {
	font-family: 'vkIcons';
	src:url('../../fonts/vkIcons/vkIcons.eot');
	src:url('../../fonts/vkIcons/vkIcons.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/vkIcons/vkIcons.woff') format('woff'),
		url('../../fonts/vkIcons/vkIcons.ttf') format('truetype'),
		url('../../fonts/vkIcons/vkIcons.svg#vkIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'linux_biolinumregular';
    src: url('../../fonts/biolinum/linbiolinum_rah-webfont.eot');
    src: url('../../fonts/biolinum/linbiolinum_rah-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/biolinum/linbiolinum_rah-webfont.woff') format('woff'),
         url('../../fonts/biolinum/linbiolinum_rah-webfont.ttf') format('truetype'),
         url('../../fonts/biolinum/linbiolinum_rah-webfont.svg#linux_biolinumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'linux_libertineregular';
    src: url('../../fonts/libertine/linlibertine_rah-webfont.eot');
    src: url('../../fonts/libertine/linlibertine_rah-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/libertine/linlibertine_rah-webfont.woff') format('woff'),
         url('../../fonts/libertine/linlibertine_rah-webfont.ttf') format('truetype'),
         url('../../fonts/libertine/linlibertine_rah-webfont.svg#linux_libertineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

//transitions
//$menu-trans: all 0.2s ease-in;

$shadow: 3px 2px 8px 0px rgba(50, 50, 50, 0.5);

@mixin drop-shadow{
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
	}

@mixin transitions($time){
	-webkit-transition: all $time ease-in;
	-moz-transition: all $time ease-in;
	-o-transition: all $time ease-in;
	-ms-transition: all $time ease-in;
	transition: all $time ease-in;
	}
//default link styling
@mixin link-rollover{
	a{
        text-decoration: underline;
		color: $link-color;
		@include transitions(0.2s);
		&:link, &:visited{ 
			color: $main-color;
		}
		&:hover{
			color: $link-color;
           
		}
	}
    
}