//settings
$include-html-classes: false;
$include-print-styles: false;
$block-grid-default-spacing: 0;
$small-screen: 800px;
$flex-video-padding-bottom: 56.25%;
$flex-video-padding-top: 0;
$flex-video-margin-bottom: 0;
//colour
$main-bg-color: rgb(234, 234, 234);
$main-color: rgb(79, 79, 79);
$link-color: rgb(217, 148, 22);//lighten($main-color, 20%);
$border-color: lighten($link-color, 20%);
$hover-link-color: lighten($main-color, 20%);//rgb(106, 73, 244);


//typography
$jura: "Linux Biolinum G"; //"Exo 2.0"; //"Orbitron"; //"Jura", sans-serif;
$phil: "Linux Libertine G"; //"Exo 2.0"; //"Philosopher", serif;

*{
    //font-weight:400;
}

@font-face {
	font-family: 'vkIcons';
	src:url('../../fonts/vkIcons.eot');
	src:url('../../fonts/vkIcons.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/vkIcons.woff') format('woff'),
		url('../../fonts/vkIcons.ttf') format('truetype'),
		url('../../fonts/vkIcons.svg#vkIcons') format('svg');
	font-weight: normal;
	font-style: normal;
}


//transitions
//$menu-trans: all 0.2s ease-in;

@mixin drop-shadow{
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
	}

@mixin transitions($time){
	-webkit-transition: all $time ease-in;
	-moz-transition: all $time ease-in;
	-o-transition: all $time ease-in;
	-ms-transition: all $time ease-in;
	transition: all $time ease-in;
	}
//default link styling
@mixin link-rollover{
	a{
        text-decoration: underline;
		color: $main-color;
		@include transitions(0.3s);
		&:visited{ 
			color: $main-color;
		}
		&:hover{
			color: $hover-link-color;
		}
	}
    
}