@import "defaults";
@import "../../../../components/foundation/scss/foundation/variables";
@import "../../../../components/foundation/scss/foundation/components/global";
@import "../../../../components/foundation/scss/foundation/components/grid";
@import "footer";

body{
    background-color: $main-bg-color;
}

p, h1, h2, h3, h4, h5, h6, ul{
    font-family: $jura;
    color: $main-color;
}

header{
    @include grid-row();
    margin: 0 0 0 8px;
    a{
        &:link, &:hover, &:active, &:visited{
            color: $main-color;
            text-decoration: none;
        }
    }
}

.container{
    @include grid-row();
}

.content{
    width: 100%;
    p{
        margin: 0 0 0 8px;
    }
}

nav{
    @include grid-row();
    ul{
        list-style: none;
        li{
            display: inline;
            @include link-rollover;
            a{text-decoration: none;}
        }
    }
    
    
}

footer{
    @include grid-row();
    float: none;
    @include link-rollover;
    
}

.project-summary{
    margin: 8px 0;
    img{
        max-width: 100%;
        opacity: 1.0;
        @include transitions;
        &:hover{
            background-color: $main-bg-color;
            opacity: 0.75;
            
        }
    }
    p{
        @include link-rollover;
    }
    
}

.project-details{
    //margin: 12px 0 2px 8px;
    
}


    