@import "defaults";
@import "../../../../components/foundation/scss/foundation/variables";
@import "../../../../components/foundation/scss/foundation/components/global";
@import "../../../../components/foundation/scss/foundation/components/grid";
@import "footer";


p, h1, h2, h3, h4, h5, h6, ul{
    font-family: $jura;
    color: $main-color;
}

header{
    @include grid-column($columns: 12);
}

.container{
    @include grid-column($columns: 12);
}

footer{
    @include grid-column($columns: 12);
    float: none;
}


    