//  ___________________________________ _____________ 
// /   _____/\_   _____/\__    ___/    |   \______   \
// \_____  \  |    __)_   |    |  |    |   /|     ___/
// /        \ |        \  |    |  |    |  / |    |    
///_______  //_______  /  |____|  |______/  |____|    
//        \/         \/                               


@import "defaults";
@import "../../../../components/foundation/scss/foundation/variables";
@import "../../../../components/foundation/scss/foundation/components/global";
@import "../../../../components/foundation/scss/foundation/components/block-grid";
@import "../../../../components/foundation/scss/foundation/components/flex-video";
@import "footer";

html{
    width: 100%;
}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

body{
    background-color: $main-bg-color;
    width: 100%;
    
    
    background: rgb(219,219,219); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgb(219,219,219) 0%, rgb(239,239,239) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(219,219,219)), color-stop(100%,rgb(239,239,239))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  rgb(219,219,219) 0%,rgb(239,239,239) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  rgb(219,219,219) 0%,rgb(239,239,239) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  rgb(219,219,219) 0%,rgb(239,239,239) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  rgb(219,219,219) 0%,rgb(239,239,239) 100%); /* W3C */
    
    background-size: 100%;
    
}

h1, h2, h3, h4, h5, h6, ul{
    font-family: $sans;
    font-weight: normal;
    font-style:normal;
    color: $main-color;
    
}

p, .project li{
    font-family: $serif;
    font-weight: normal;
    font-style: normal;
    color: $main-color; 
}

a{
    img{
        outline: none;
        border: none;
    }
}

header{
    a{
        &:link, &:hover, &:active, &:visited{
            color: $main-color;
            text-decoration: none;
        }
        &:focus{
            outline: none;
        }
    }
    h1{
        margin: 20px 0 8px 4px;
        @media #{$small}{
            margin: 20px 0 8px 12px;
        }
    }
}

.content{
    width: 100%;
    
}

h2{
    //font-size: 1.1em;
    margin: 0 0 0 6px;
    @media #{$small}{
        font-size: 1.5em;
        margin: 0 0 0 12px;
    }
    
}

p{
    margin: 6px 0 12px 6px;
    @media #{$small}{
        margin: 6px 0 12px 12px;
    }
}

footer{
    float: none;
    @include link-rollover;
    
}

//  ___ ___ ________      _____  _____________________  _____    ___________________
// /   |   \\_____  \    /     \ \_   _____/\______   \/  _  \  /  _____/\_   _____/
///    ~    \/   |   \  /  \ /  \ |    __)_  |     ___/  /_\  \/   \  ___ |    __)_ 
//\    Y    /    |    \/    Y    \|        \ |    |  /    |    \    \_\  \|        \
// \___|_  /\_______  /\____|__  /_______  / |____|  \____|__  /\______  /_______  /
//       \/         \/         \/        \/                  \/        \/        \/ 


#projects{
    @media screen and (max-width: 800px){
        padding: 0 6px;
    }
}
.projects{
    list-style:none;
    width: 100%;
    
    
    @include block-grid($per-row: 1);
    margin-top: -4px;
   
    @media #{$small}{
        @include block-grid($per-row: 2, $spacing: 12px);
        padding-left: 12px; 
        margin-top: 4px;
    }
    
    @media #{$large}{
        @include block-grid($per-row: 3, $spacing: 12px);
        padding-left: 12px;   
        margin-top: 4px;
    }    


}

.project-summary{
    margin: 8px 0 12px 0;
    position: relative;
    width: 100%;
    padding: 0 4px;
    @include transitions(0.5s);   
    @media #{$small}{
            margin: 0;   
        }
    img{
        max-width: 100%;
        width: 100%;
        @include drop-shadow;
        @include corners;
        
    }

    
}

.project-details{
    font-family: $sans;
    margin: 0 0 2px 0;        
    
    @media #{$small}{
        position: absolute;
        padding: 6px;
        top: 25%;
        margin: 0;
        background-color: transparentize($main-bg-color, 0.1);
        @include right-corners;
        @include drop-shadow;
    }
            
    a{
        @include transitions(0.15s);
        text-decoration: none;
        &:link, &:visited{
            color: $main-color;
        }
        &:hover{
            color: $link-color;
        }
    }
}

//_________  ________    _______________________  ____________________
//\_   ___ \ \_____  \   \      \__    ___/  _  \ \_   ___ \__    ___/
///    \  \/  /   |   \  /   |   \|    | /  /_\  \/    \  \/ |    |   
//\     \____/    |    \/    |    \    |/    |    \     \____|    |   
// \______  /\_______  /\____|__  /____|\____|__  /\______  /|____|   
//        \/         \/         \/              \/        \/          

.contactIcons{    
    font-family: vkIcons;
    font-size: 1.5em;
    position: relative;
    margin: 2px 0 12px 8px;
    @media #{$small}{
        margin: 2px 0 12px 12px;
    }

    @include link-rollover;
    a{
        text-decoration:none;
        margin-right:18px;
    }
    
}

.twitter{
    &:after{
        content: "\e600";
    }
   
}

.email{
    &:after{
        content: "\e603";
    }
}

.github{
    &:after{
        content: "\e601";
    }
}

.linkedin{
    &:after{
        content: "\e602";
    }
}
 
        
//____________________ ________        ____._______________________________ 
//\______   \______   \\_____  \      |    |\_   _____/\_   ___ \__    ___/ 
// |     ___/|       _/ /   |   \     |    | |    __)_ /    \  \/ |    |    
// |    |    |    |   \/    |    \/\__|    | |        \\     \____|    |    
// |____|    |____|_  /\_______  /\________|/_______  / \______  /|____|    
//                  \/         \/                   \/         \/           
//__________  _____    ___________________ _________                        
//\______   \/  _  \  /  _____/\_   _____//   _____/                        
// |     ___/  /_\  \/   \  ___ |    __)_ \_____  \                         
// |    |  /    |    \    \_\  \|        \/        \                        
// |____|  \____|__  /\______  /_______  /_______  /                        
//                 \/        \/        \/        \/                         
.project{
    @include link-rollover;
    img{
        max-width: 100%;
        width: 100%;
        @include drop-shadow;
        @include corners;
        @media #{$small}{
            
        }
    }
}
        
        

.project>ul{
    @include block-grid($per-row: 1);
    position: relative;
    padding: 0 6px;
    li{
        margin-bottom: 6px;
        @media #{$small}{
            margin-bottom: -6px;
        }
        @include transitions(0.5s);
    }
        
    @media #{$small}{
        @include block-grid($per-row: 2, $spacing: 12px);
        margin: 0;
        padding: 0 6px; 
    }
    @media #{$large}{
        @include block-grid($per-row: 3, $spacing: 12px);
        margin: 0;
        padding: 0 6px;        
    }
}

.vimeo-container{
    @include flex-video-container;
    @include drop-shadow;
    padding-right: 6px;
    padding-left:6px;
}

.hasVid{
    padding-right: 6px!important;
}
            
.sibling-nav{
    margin-bottom: 6px;
    margin-top: -6px;
    
    .next{ 
             
        &:after{
            font-family: vkIcons;
            content: "\e605";
            margin-left: 6px;
            position: relative;
            top: 3px;
        }
    }
    .prev{ 
        &:before{
            font-family: vkIcons;
            content: "\e604";
            margin-right: 6px;
            position: relative;
            top: 3px;
        }
    }
    p{
       
        @media #{$small}{
            display: inline;
            
        }
    }
}


    