@font-face {
  font-family: 'vkIcons';
  src: url("../../fonts/vkIcons/vkIcons.eot");
  src: url("../../fonts/vkIcons/vkIcons.eot?#iefix") format("embedded-opentype"), url("../../fonts/vkIcons/vkIcons.woff") format("woff"), url("../../fonts/vkIcons/vkIcons.ttf") format("truetype"), url("../../fonts/vkIcons/vkIcons.svg#vkIcons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'linux_biolinumregular';
  src: url("../../fonts/biolinum/linbiolinum_rah-webfont.eot");
  src: url("../../fonts/biolinum/linbiolinum_rah-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/biolinum/linbiolinum_rah-webfont.woff") format("woff"), url("../../fonts/biolinum/linbiolinum_rah-webfont.ttf") format("truetype"), url("../../fonts/biolinum/linbiolinum_rah-webfont.svg#linux_biolinumregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'linux_libertineregular';
  src: url("../../fonts/libertine/linlibertine_rah-webfont.eot");
  src: url("../../fonts/libertine/linlibertine_rah-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/libertine/linlibertine_rah-webfont.woff") format("woff"), url("../../fonts/libertine/linlibertine_rah-webfont.ttf") format("truetype"), url("../../fonts/libertine/linlibertine_rah-webfont.svg#linux_libertineregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%;
  margin: 0; }

.frame {
  display: table;
  height: 100%;
  width: 100%; }

.row {
  display: table-row;
  height: 1px; }

.row.expand {
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #efefef;
  background: #dbdbdb;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #dbdbdb 0%, #efefef 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #dbdbdb), color-stop(100%, #efefef));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #dbdbdb 0%, #efefef 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #dbdbdb 0%, #efefef 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #dbdbdb 0%, #efefef 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #dbdbdb 0%, #efefef 100%);
  /* W3C */
  background-size: 100%; }

h1, h2, h3, h4, h5, h6, ul {
  font-family: "linux_biolinumregular", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #4f4f4f; }

p, .project li {
  font-family: "linux_libertineregular", Georgia, serif;
  font-weight: normal;
  font-style: normal;
  color: #4f4f4f; }

header a:link, header a:hover, header a:active, header a:visited {
  color: #4f4f4f;
  text-decoration: none; }
header a:focus {
  outline: none; }
header h1 {
  margin: 20px 0 8px 4px; }
  @media only screen and (min-width: 800px) {
    header h1 {
      margin: 20px 0 8px 12px; } }

.content {
  width: 100%; }

h2 {
  font-size: 1.1em;
  margin: 0 0 0 6px; }
  @media only screen and (min-width: 800px) {
    h2 {
      font-size: 1.5em;
      margin: 0 0 0 12px; } }

p {
  margin: 6px 0 12px 6px; }
  @media only screen and (min-width: 800px) {
    p {
      margin: 6px 0 12px 12px; } }

footer {
  float: none; }
  footer a {
    text-decoration: underline;
    color: #d99416;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    footer a:link, footer a:visited {
      color: #4f4f4f; }
    footer a:hover {
      color: #d99416; }

.projects {
  list-style: none;
  max-width: 100%;
  display: block;
  padding: 0;
  margin: 0 0;
  *zoom: 1;
  margin-top: -4px; }
  .projects:before, .projects:after {
    content: " ";
    display: table; }
  .projects:after {
    clear: both; }
  .projects > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0 0; }
  .projects > li {
    width: 100%;
    padding: 0 0 0; }
    .projects > li:nth-of-type(n) {
      clear: none; }
    .projects > li:nth-of-type(1n+1) {
      clear: both; }
  @media only screen and (min-width: 800px) {
    .projects {
      display: block;
      padding: 0;
      margin: 0 -6px;
      *zoom: 1;
      padding-left: 12px;
      margin-top: 4px; }
      .projects:before, .projects:after {
        content: " ";
        display: table; }
      .projects:after {
        clear: both; }
      .projects > li {
        display: inline;
        height: auto;
        float: left;
        padding: 0 6px 12px; }
      .projects > li {
        width: 50%;
        padding: 0 6px 12px; }
        .projects > li:nth-of-type(n) {
          clear: none; }
        .projects > li:nth-of-type(2n+1) {
          clear: both; } }
  @media only screen and (min-width: 1440px) {
    .projects {
      display: block;
      padding: 0;
      margin: 0 -6px;
      *zoom: 1;
      padding-left: 12px;
      margin-top: 4px; }
      .projects:before, .projects:after {
        content: " ";
        display: table; }
      .projects:after {
        clear: both; }
      .projects > li {
        display: inline;
        height: auto;
        float: left;
        padding: 0 6px 12px; }
      .projects > li {
        width: 33.33333%;
        padding: 0 6px 12px; }
        .projects > li:nth-of-type(n) {
          clear: none; }
        .projects > li:nth-of-type(3n+1) {
          clear: both; } }

.project-summary {
  margin: 8px 0 12px 0;
  position: relative;
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -ms-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  @media only screen and (min-width: 800px) {
    .project-summary {
      margin: 0; } }
  .project-summary img {
    max-width: 100%;
    -moz-box-shadow: 3px 2px 8px 0px rgba(50, 50, 50, 0.5);
    -webkit-box-shadow: 3px 2px 8px 0px rgba(50, 50, 50, 0.5);
    box-shadow: 3px 2px 8px 0px rgba(50, 50, 50, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px; }

.project-details {
  font-family: "linux_biolinumregular", Helvetica, Arial, sans-serif;
  margin: 0 0 2px 6px;
  background-color: rgba(239, 239, 239, 0.9);
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  @media only screen and (min-width: 800px) {
    .project-details {
      position: absolute;
      padding: 6px;
      top: 25%;
      margin: 0; } }
  .project-details a {
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
    text-decoration: none; }
    .project-details a:link, .project-details a:visited {
      color: #4f4f4f; }
    .project-details a:hover {
      color: #d99416; }

.contactIcons {
  font-family: vkIcons;
  font-size: 1.5em;
  position: relative;
  margin: 2px 0 12px 8px; }
  @media only screen and (min-width: 800px) {
    .contactIcons {
      margin: 2px 0 12px 12px; } }
  .contactIcons a {
    text-decoration: underline;
    color: #d99416;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .contactIcons a:link, .contactIcons a:visited {
      color: #4f4f4f; }
    .contactIcons a:hover {
      color: #d99416; }
  .contactIcons a {
    text-decoration: none;
    margin-right: 18px; }

.twitter:after {
  content: "\f099"; }

.email:after {
  content: "\f003"; }

.github:after {
  content: "\f09b"; }

.linkedin:after {
  content: "\f0e1"; }

.project a {
  text-decoration: underline;
  color: #d99416;
  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -ms-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in; }
  .project a:link, .project a:visited {
    color: #4f4f4f; }
  .project a:hover {
    color: #d99416; }
.project img {
  max-width: 100%;
  -moz-box-shadow: 3px 2px 8px 0px rgba(50, 50, 50, 0.5);
  -webkit-box-shadow: 3px 2px 8px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 3px 2px 8px 0px rgba(50, 50, 50, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px; }

.project > ul {
  display: block;
  padding: 0;
  margin: 0 0;
  *zoom: 1;
  position: relative;
  padding: 0 6px; }
  .project > ul:before, .project > ul:after {
    content: " ";
    display: table; }
  .project > ul:after {
    clear: both; }
  .project > ul > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0 0; }
  .project > ul > li {
    width: 100%;
    padding: 0 0 0; }
    .project > ul > li:nth-of-type(n) {
      clear: none; }
    .project > ul > li:nth-of-type(1n+1) {
      clear: both; }
  .project > ul li {
    margin-bottom: 6px;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
    @media only screen and (min-width: 800px) {
      .project > ul li {
        margin-bottom: -6px; } }
  @media only screen and (min-width: 800px) {
    .project > ul {
      display: block;
      padding: 0;
      margin: 0 -6px;
      *zoom: 1;
      margin: 0;
      padding: 0 6px; }
      .project > ul:before, .project > ul:after {
        content: " ";
        display: table; }
      .project > ul:after {
        clear: both; }
      .project > ul > li {
        display: inline;
        height: auto;
        float: left;
        padding: 0 6px 12px; }
      .project > ul > li {
        width: 50%;
        padding: 0 6px 12px; }
        .project > ul > li:nth-of-type(n) {
          clear: none; }
        .project > ul > li:nth-of-type(2n+1) {
          clear: both; } }
  @media only screen and (min-width: 1440px) {
    .project > ul {
      display: block;
      padding: 0;
      margin: 0 -6px;
      *zoom: 1;
      margin: 0;
      padding: 0 6px; }
      .project > ul:before, .project > ul:after {
        content: " ";
        display: table; }
      .project > ul:after {
        clear: both; }
      .project > ul > li {
        display: inline;
        height: auto;
        float: left;
        padding: 0 6px 12px; }
      .project > ul > li {
        width: 33.33333%;
        padding: 0 6px 12px; }
        .project > ul > li:nth-of-type(n) {
          clear: none; }
        .project > ul > li:nth-of-type(3n+1) {
          clear: both; } }

.vimeo-container {
  position: relative;
  padding-top: 0;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 0;
  overflow: hidden;
  -moz-box-shadow: 3px 2px 8px 0px rgba(50, 50, 50, 0.5);
  -webkit-box-shadow: 3px 2px 8px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 3px 2px 8px 0px rgba(50, 50, 50, 0.5);
  padding-right: 6px;
  padding-left: 6px; }
  .vimeo-container.widescreen {
    padding-bottom: 57.25%; }
  .vimeo-container.vimeo {
    padding-top: 0; }
  .vimeo-container iframe,
  .vimeo-container object,
  .vimeo-container embed,
  .vimeo-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.hasVid {
  padding-right: 6px !important; }

.sibling-nav {
  margin-bottom: 6px;
  margin-top: -6px; }
  @media only screen and (min-width: 800px) {
    .sibling-nav p {
      display: inline; } }
