html, body {
  height: 100%;
  margin: 0; }

.frame {
  display: table;
  height: 100%;
  width: 100%; }

.row {
  display: table-row;
  height: 1px; }

.row.expand {
  height: auto; }

body {
  background-color: #eaeaea; }

p, h1, h2, h3, h4, h5, h6, ul {
  font-family: "Jura", sans-serif;
  color: #4f4f4f; }

header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
  margin: 0 0 0 8px; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  header a:link, header a:hover, header a:active, header a:visited {
    color: #4f4f4f;
    text-decoration: none; }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }

.content {
  width: 100%; }
  .content p {
    margin: 0 0 0 8px; }

nav {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1; }
  nav:before, nav:after {
    content: " ";
    display: table; }
  nav:after {
    clear: both; }
  nav ul {
    list-style: none; }
    nav ul li {
      display: inline; }
      nav ul li a {
        text-decoration: underline;
        color: #828282;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        nav ul li a:visited {
          color: #828282; }
        nav ul li a:hover {
          color: #e5e5e5;
          background-color: #636363; }
        nav ul li a.active {
          color: red; }
      nav ul li a {
        text-decoration: none; }

footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
  float: none; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer a {
    text-decoration: underline;
    color: #828282;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    footer a:visited {
      color: #828282; }
    footer a:hover {
      color: #e5e5e5;
      background-color: #636363; }
    footer a.active {
      color: red; }

.project-summary {
  margin: 8px 0; }
  .project-summary img {
    max-width: 100%;
    opacity: 1.0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .project-summary img:hover {
      background-color: #eaeaea;
      opacity: 0.75; }
  .project-summary p a {
    text-decoration: underline;
    color: #828282;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    .project-summary p a:visited {
      color: #828282; }
    .project-summary p a:hover {
      color: #e5e5e5;
      background-color: #636363; }
    .project-summary p a.active {
      color: red; }
