{% include 'partials/head.html' %}
{% include 'partials/header.html' %}
{{page.content}}
<div class="contact">
{% include 'partials/contactIcons.html' %}
    </div>
	<div class=" content row expand"><!--begin content-->
<!--        <h2>About:</h2>-->
        
        <h2>Projects:</h2>
        <ul class="projects" id="projects">
            
        {% block context %}
            {% set page = get('/portfolio') %}
            {% for child in page.children %}
                {% include 'partials/summary.html' %}
            {% endfor %}
        {% endblock %}
            </ul>
    </div> <!--end content-->
 </div><!--end main container-->
{% include 'partials/footer.html' %}
