{% include 'partials/head.html' %}
{% include 'partials/header.html' %}
{{page.content}}
<div class="contact">
{% include 'partials/contactIcons.html' %}
    </div>
	<div class=" content row expand">
        
        <h2>Projects:</h2>
            <div class="filter">
                <p>Filter: <a href="#all">all</a> | <a href="#web">web</a> | <a href="#processing">Processing</a> | <a href="#openFrameworks">OpenFrameworks</a></p>
            </div>
        <ul class="projects" id="projects">
            
        {% block context %}
            {% set page = get('/portfolio') %}
            {% for child in page.children %}
                {% include 'partials/summary.html' %}
            {% endfor %}
        {% endblock %}
            </ul>
    </div>
 </div>
{% include 'partials/footer.html' %}
