{% include 'partials/head.html' %}
{% include 'partials/header.html' %}
{{page.content}}
<div class="contact">
{% include 'partials/contactIcons.html' %}
    </div>
	<div class=" content row expand">
        
        <h2>Projects:</h2>
        <ul class="projects" id="projects">
            
        {% block context %}
            {% set page = get('/portfolio') %}
            {% for child in page.children %}
                {% include 'partials/summary.html' %}
            {% endfor %}
        {% endblock %}
            </ul>
    </div>
 </div>
{% include 'partials/footer.html' %}
