{% include 'partials/head.html' %}
{% include 'partials/header.html' %}
{% include 'partials/navigation.html' %}
      <div class="content" class="row expand"><!--begin content-->
          {{page.content}}
        <p class="date">{{page.date}}</p>
          <!--<p><em>@tag</em></p>-->
        <div class="sibling-nav"><!--begin sibling nav-->
            {% include 'partials/previous-page.html' %} {% include 'partials/next-page.html' %}
        </div><!--end sibling nav-->
        
          </div><!--end content-->
      </div><!--end page container-->
{% include 'partials/footer.html' %}
